/* tslint:disable */
{{#interfaceLink}}
/// <reference path="{{interfaceLink}}" />
{{/interfaceLink}}


import { List } from 'linqts';
{{#refs}}
import { {{type}} } from "./{{path}}"
{{/refs}}

{{#enums}}
export enum {{name}} {
	{{#values}}
	{{name}} = '{{value}}',
	{{/values}}
}
{{/enums}}

{{#refInterface}}
export class {{&name}} implements {{&refInterface}} {
{{/refInterface}}
{{^refInterface}}
export class {{&name}} {
{{/refInterface}}
{{#properties}}
	{{#isArray}}
		{{name}}: List<{{typescriptType}}>;
	{{/isArray}}
	{{^isArray}}
		{{name}}: {{typescriptType}};
	{{/isArray}}
{{/properties}}

{{#refs}}
	{{#isArray}}
		{{name}}: List<{{typescriptType}}>;
	{{/isArray}}
	{{^isArray}}
		{{name}}: {{typescriptType}};
	{{/isArray}}
{{/refs}}
}
