/* tslint:disable */
import { {{#definitions}}{{name}}{{^last}}, {{/last}}{{/definitions}} } from './models';
import { Observable } from 'rxjs';

/**
 * Created with angular2-swagger-client-generator v{{&version}}
 */
export interface {{interfaceName}} {
{{#methods}}
	/**
  * {{{summary}}}
	{{#summaryLines}}
  * {{&.}}
  {{/summaryLines}}
  *
	* @method
	* @name {{&methodName}}
	{{#parameters}}
	{{^isSingleton}}* @param {{=<% %>=}}{<%&type%>}<%={{ }}=%> {{&camelCaseName}} - {{&description}}{{/isSingleton}}
	{{/parameters}}
	*/
	{{&methodName}}({{#parameters}}{{&camelCaseName}}: {{typescriptType}}{{^last}}, {{/last}}{{/parameters}}){{#returns}}: Observable<{{returns}}>{{/returns}};

{{/methods}}

}
