/* tslint:disable */
{{#interfaceLink}}
/// <reference path="{{interfaceLink}}" />
{{/interfaceLink}}


{{#refs}}
import { {{type}} } from "./{{type}}"
{{/refs}}

{{#refInterface}}
export class {{&name}} implements {{&refInterface}} {
{{/refInterface}}
{{^refInterface}}
export class {{&name}} {
{{/refInterface}}
{{#properties}}
	{{#isArray}}
		{{name}}: {{typescriptType}}[];
	{{/isArray}}
	{{^isArray}}
		{{name}}: {{typescriptType}};
	{{/isArray}}
{{/properties}}

{{#refs}}
	{{#isArray}}
		{{name}}: {{typescriptType}}[];
	{{/isArray}}
	{{^isArray}}
		{{name}}: {{typescriptType}};
	{{/isArray}}
{{/refs}}
}
