{{#definitions}}
{{#createModelPath}}
export { {{name}} {{#enums}}, {{name}} {{/enums}} } from './models/{{name}}';
{{/createModelPath}}
{{^createModelPath}}
export { {{name}} {{#enums}}, {{name}} {{/enums}} } from './{{name}}';
{{/createModelPath}}