{{#definitions}}
{{#createModelPath}}
export { {{name}} } from './models/{{name}}';
{{/createModelPath}}
{{^createModelPath}}
export { {{name}} } from './{{name}}';
{{/createModelPath}}
{{/definitions}}
